header{
    background-color: #4C772D;
}
.offcanvas{
    background-color: #4C772D;
}
ul li a {
    color: #FFF;
}
.nav-link{
    font-size: 18px;
    color: white;
}
#social-media ,#copyright{
    background:#4C772D;
    color: white;
}
.img-depoimento {
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 260px;
    height: 260px;
}
.bg-img-depoimento {
    background: url(../img/bg-foto-depoimento.png) no-repeat center center;
    background-size: contain;
    text-align: center;
}

.footer{
    background: #383838;
    color: #fff;
    font-size: 16px;
}
.social-image{
    filter: invert(1);
}
.preco {
    font-size: 1.5em;
    font-weight: bold;
    color: #83BB28;
}

